

.carousel-indicators [data-bs-target] {
    border-radius: 100%;
    width: 10px;
    height: 10px;
}
.boc{
    width: 100%;
}
.carusel{
    width: 100%;
    height: 70vh;
}
@media screen and (max-width:1800px){
    .box{
        width: 100%;
        height: 550px;
        object-fit: cover;
    }
    .box>img{
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
    
}

@media screen and (max-width:900px){
    .box{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .box>img{
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
    
}
